@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app__navbar div:nth-child(2) img {
    @apply inline laptop:inline xl:inline md:phone:hidden;
  }
  .beach {
    @apply h-40;
  }
}
* {
  box-sizing: border-box;
}

.padding-section {
  padding: 2rem 5rem;
}
.image {
  filter: brightness(0.6);
}
